<h1>sign in component in main App root component</h1>
<!--this is an example of React Forms-->
<form (ngSubmit)="handleUserLogin()" [formGroup]="signInControl">
    <input formControlName="username" name="username" placeholder="enter user name" type="text"/>
    <br>
    <span *ngIf="validateUser && validateUser.touched && validateUser.invalid">this field is invalid</span>
    <br><br>
    <input formControlName="password" name="password" placeholder="enter password" type="password"/>
    <br>
    <span *ngIf="validatePassword && validatePassword.touched && validatePassword.invalid">this field is invalid</span>
    <br><br>
    <button>click to console</button>
</form>
<button (click)="handleUserLogin()">click to console - outside form</button>