<h1>hello angular first learning by DP</h1>
<h2 class="row">
    root routes
    <a routerLink="home">Home</a>
    <a routerLink="todo">Todo</a>
    <a routerLink="signin">signin</a>
    <a routerLink="signup">signup</a>
    <a routerLink="calculate">calculate</a>
    <a routerLink="posts">posts</a>
    <a routerLink="about">about</a>
</h2>

<h3 class="row">
    child route, group routing
    <a routerLink="admin/login">Admin Routing Login</a>
    <a routerLink="admin/listing">Admin Routing Listing</a>
</h3>

<router-outlet></router-outlet>

<!--<h2>app name: {{title}}</h2>-->
<!--<h3>{{msg}}</h3>-->
<!--<div>{{getValue()}}</div>-->

<!--<app-calculate></app-calculate>-->

<!--<app-todo-list-->
<!--        [numberValue]="numberValue"-->
<!--&gt;</app-todo-list>-->
